:root {
	--white: #ffffff;
	--whiteopacity: #ffffff5b;
	--smokewhite: #e5e5e5;
	--midgray: #6d6d6ead;
	--gray: #808080;
	--black: #141414;
	--red: #b9090b;

	--font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	--font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--smokewhite);
	font-size: 16px;
}

body {
	/* max-width: 480px; */
	background: var(--black);
	/* min-width: 350px; */
	height: 100%;
	font-family: var(--font-family);
	font-size: var(--font-size);
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}

.waitingState {
	max-height: 100vh;
	height: 100vh;
	background: var(--black);
	padding: 5%;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.waitingBanner {
	height: 50vh;
	border-radius: 20px;
	animation: loading 700ms linear 0s infinite alternate;
}
/* Animation for Loading Content */
.loading {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: pulse 1s linear 0s infinite alternate;
}

@keyframes loading {
	0% {
		/* width:50%; */
		background-color: var(--midgray);
	}
	100% {
		/* width: 100%; */
		background-color: var(--gray);
	}
}

.waitingImages {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.waitingImage {
	background: var(--midgray);
	height: 100%;
	width: 100%;
	width: 200px;
	height: 200px;
	border-radius: 12px;
	animation: loading 700ms linear 0s infinite alternate;
}

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
.puff-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes pulse {
	from {
		transform: scale(0.8);
	}

	to {
		transform: scale(1);
	}
}

.loadsvg {
	animation: rotate 3s linear 0s infinite alternate;
}

@keyframes rotate {
	0% {
		rotate: 360deg;
	}
	100% {
		rotate: -360deg;
	}
}
/* User component/Page */
.usersContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.userBox {
	background: var(--midgray);
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	transition: background ease-in-out 200ms;
}

.userBox:hover {
	background: var(--whiteopacity);
}

/* Header */

.header {
	position: relative;
}

.designer {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

.header__nav {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 20px;
	padding: 0 10px;
	max-height: 80px;
}

.header__link {
	z-index: 2;
	color: var(--white);
	font-size: 14px;
}

.header__link:last-child > svg > path {
	fill: var(--white);
}

.header__nav::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.377);
	z-index: 1;
}

/* page */
.page {
	padding-top: 80px;
	padding-bottom: 50px;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

/* Homepage */
.homepage {
	background: var(--black);
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.homepage__image {
	width: 100%;
	height: 40vh;
	position: relative;
	overflow: hidden;
}
.homepage__video {
	width: 100%;
	height: 80vh;
	position: relative;
	overflow: hidden;
}

.homepage__image::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	background: linear-gradient(
		180deg,
		rgba(116, 116, 116, 0) 50%,
		rgb(10, 10, 10) 98%
	);
	position: absolute;
	overflow: hidden;
}

.homepage__img {
	display: block;
	height: 100%;
	width: 100%;
}

.homeFrame {
	width: 100%;
	height: 100%;
}

.homepage__trending {
	position: absolute;
	color: var(--white);
	bottom: 10px;
	/* font-weight: bold; */
	letter-spacing: 1.25px;
	z-index: 10;
	font-size: 12px;
	width: 100%;
	padding: 20px;
	text-align: center;
}

.homeContainer {
	padding: 0 10px;
}

.actions {
	display: flex;
	padding: 10px 5%;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}

.action {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	font-size: inherit;
}

.action__button {
	background-color: var(--gray);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid var(--smokewhite);
	border-radius: 8px;
	gap: 3px;
	padding: 5px 10px;
	padding-left: 2px;
	font-weight: bold;
	font-size: inherit;
	color: var(--black);
	cursor: pointer;
}

.action_button {
	height: 24px;
}

.action__button:hover {
	background: var(--black);
	border: 1px solid var(--smokewhite);
	color: var(--smokewhite);
	box-sizing: border-box;
}

.listofmovies {
	display: flex;
	margin: 20px 0;
	flex-direction: column;
	overflow: hidden;
	overflow-x: scroll;
	/* padding: 0 10px; */
	position: relative;
	-ms-overflow-style: none;
	background: inherit;
	scrollbar-width: none;
}

.listofmovies::-webkit-scrollbar {
	display: none;
}

.movies {
	display: flex;
	gap: 8px;
	width: max-content;
	margin-top: 30px;
}

.movie {
	height: 160px;
	width: 120px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}

.movie:hover:after {
	content: '';
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		180deg,
		rgba(116, 116, 116, 0) 50%,
		rgba(10, 10, 10, 0.644) 98%
	);
	position: absolute;
	overflow: hidden;
}

.movie__img {
	object-position: center;
}

.category__header {
	font-size: 22px;
	line-height: 15px;
	top: 5px;
	position: absolute;
	text-transform: capitalize;
}

.modal {
	width: 80%;
	font-size: 12px;
}

.modal__movie-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.modal__movie-title {
	font-size: 12px;
	width: 70%;
}

.modal__movie-info {
	color: var(--whiteopacity);
	text-decoration: underline;
	font-size: 12px;
	width: 30%;
	text-align: end;
	align-self: flex-start;
}

.modal__iframe {
	width: 100%;
}

.modalBottom {
	display: flex;
	gap: 16px;
	flex-direction: column;
	font-size: 12px;
	width: 100%;
}

.genre {
	display: flex;
	gap: 10px;
}

.genre > span {
	border-right: 1px solid var(--smokewhite);
	padding-right: 10px;
	font-size: 12px;
}

.genre > span:last-child {
	border: none;
}

.features {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
}

.ageRate,
.quality,
.rating {
	padding: 2px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	border: 1px solid var(--white);
	width: max-content;
}

.young {
	border-color: rgb(21, 182, 21);
}

.adult {
	border-color: var(--red);
}

.quality {
	border-radius: 5px;
}

.modal__overview {
	font-size: 12px;
	width: 100%;
	line-height: 22px;
	color: var(--white);
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.searchContainer {
	position: relative;
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
}

.searchContainer > input {
	display: block;
	width: 100%;
	margin: 0 auto;
	color: var(--red);
	padding: 16px;
	outline: none;
	font-weight: bold;
	position: relative;
	font-size: 12px;
}

.searchContainer > span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5%;
}

.searchIcon {
	height: 24px;
	width: 24px;
	position: relative;
}

.searchIcon > path {
	fill: var(--black);
}

.searchedMovies {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	min-height: 100vh;
}

.searchMovies__categories {
	padding: 10px 5%;
	background: var(--midgray);
	display: flex;
	justify-content: space-between;
}

.searchedMovie {
	border-bottom: 1px solid var(--white);
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	gap: 10px;
}

.searchedMovie:last-child {
	border-bottom: none;
}

.searchedMovie:hover {
	background: var(--midgray);
}
.searchTitle {
	flex: 2;
	font-size: 12px;
}

.searchTitle > span {
	font-size: 12px;
}

.searchedMovieImage {
	height: 80px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top center;
}

.movieId {
	display: none;
}

.playIcon {
	cursor: hover;
}

/* Movie Page */

.empty {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	padding: 20px;
	position: relative;
}

.empty-heading {
	position: absolute;
	top: 100px;
	text-align: center;
	font-size: 12px;
}

.moviePage {
	padding-left: 16px;
	padding-right: 16px;
}

.moviepage__video {
	height: 30vh;
}

.moviePage__detail-content {
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 12px;
}

.hd {
	border: 1px solid var(--smokewhite);
	height: 24px;
	width: 26px;
	font-size: 12px;
	text-align: center;
	margin: 10px 0;
	border-radius: 5px;
}

.moviePage__play-button {
	width: 100%;
	background: var(--white);
	color: var(--black);
	border: none;
	border-radius: 3px;
	padding: 8px 0;
	margin-bottom: 20px;
}

.moviePage__full-details {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	text-align: left;
}

.moviePage__cast-crew {
	color: var(--gray);
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

/* Applies when width is greater than 480px */
@media screen and (min-width: 480px) {
	.header__nav {
		padding: 0 10%;
	}
	.homepage__image {
		height: 80vh;
	}
	.homepage__trending {
		font-size: 24px;
	}

	.action {
		font-size: 24px;
	}

	.action__button {
		padding: 10px 20px;
		justify-content: space-around;
		gap: 10px;
		padding-left: 5px;
		font-size: 24px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
			'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}

	.usersContainer {
		flex-direction: row;
	}
	.userBox {
		height: 200px;
		width: 200px;
		font-size: 120%;
	}
	.homepage__img > img {
		object-position: center;
	}
	.actions {
		font-size: 16px;
	}

	.homeContainer {
		padding: 0 5%;
	}
	.movies {
		gap: 16px;
	}

	.movie {
		width: 220px;
		height: 300px;
	}
	.modal {
		width: 50%;
		height: 60%;
	}
	.modal__iframe {
		height: 100%;
	}
	.modal__overview {
		font-size: 14px;
	}
	.modal__movie-info {
		font-size: 16px;
	}
	.searchedMovies {
		font-size: 16px;
	}
	.searchTitle {
		font-size: 16px;
	}

	.searchTitle > span {
		font-size: 16px;
	}

	.searchedMovieImage {
		height: 200px;
		aspect-ratio: 1/1;
		object-fit: cover;
		object-position: center center;
	}
	.movieId {
		display: block;
	}
	.searchContainer > input {
		font-size: 16px;
	}
}
