:root {
  --white: #FFFFFF;
  --whiteopacity: #ffffff5b;
  --smokewhite: #E5E5E5;
  --midgray: #6d6d6ead;
  --gray: #808080;
  --black: #141414;
  --red: #B9090B;

  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--smokewhite)
}


body {
  max-width: 480px;
  background: var(--black);
  min-width: 350px;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%
}

/* User component/Page */
.usersContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.userBox {
  background: var(--midgray);
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background ease-in-out 200ms;
}

.userBox:hover {
  background: var(--whiteopacity);
}

/* User component/Page */

/* Homepage */


.header {
  position: relative;
}

.header__nav {
  position: absolute;
  width: 100%;
  top: 50px;
  min-height: 80px;
  padding: 0 5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  z-index: 20;
  color: var(--white);
}

.header__nav::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.377);
  z-index: 10;
}

.homepage {
  min-height: 100vh;
  background: var(--black);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage__image {
  width: 100%;
  max-height: 70vh;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.homepage__img {
  height: 70vh;
  max-height: 70vh;
  width: 100%;
}

.homepage__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.homepage__trending {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  letter-spacing: 1px;
}


.actions {
  display: flex;
  background-color: transparent;
  padding: 10px 10%;
  justify-content: space-between;
  align-items: center;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  cursor: pointer;
}

.action__button {
  padding: 10px 20px;
  border: none;
  color: var(--black);
  background-color: var(--gray);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.action__button:hover {
  background: var(--black);
  border: 1px solid var(--smokewhite);
  color: var(--smokewhite);
  box-sizing: border-box;
}

.listofmovies {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-x: scroll;
  padding: 0 10px;
  position: relative;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.listofmovies::-webkit-scrollbar {
  /* height: 5px; */
  display: none;
}

/* .listofmovies::-webkit-scrollbar-track {
  background-color: var(--gray);
}

.listofmovies::-webkit-scrollbar-thumb {
  background-color: var(--smokewhite);
  border-radius: 20px;
} */

.movies {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  width: max-content;
  margin-top: 30px;
  position: relative;
}


.movie {
  height: 160px;
  width: 100px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
  position: relative;
}

.movie__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.category__header {
  font-size: 22px;
  line-height: 15px;
  top: 5px;
  position: absolute;
  text-transform: capitalize;
}

.modalBottom {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.genre {
  display: flex;
  gap: 10px;
}

.modal__overview {
  font-size: 12px;
  line-height: 22px;
  color: var(--white);
  text-align: justify;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modalController {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.modal__img {
  height: 200px;
  object-fit: fill;
  min-width: 100%;
  object-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalDownArrow {
  margin-left: auto;
}

.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.movie__title {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.ageRate,
.quality,
.rating {
  padding: 3px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  width: max-content;
}


/* Modal controllers HoverEffect */
.modal__actions {
  cursor: pointer;
}



.young {
  border-color: green;
}

.adult {
  border-color: var(--red);
}

.quality {
  border-radius: 5px;
}

.searchContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 8px;
}

.searchContainer>input{
  height: 28px;
  width: 60%;
  border: 1px solid var(--white);
  border-radius: 8px;
  color: var(--white);
  padding: 16px;
  outline: none;
  font-weight: bold;
  position: relative;
}

.searchContainer>input::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: red;
  z-index: 10;

}

.searchContainer>span{
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon{
  height: 24px;
  width:24px;
  position: relative;
  right: 30px;
}

.searchIcon>path{
  fill: var(--white);
}

.searchedMovies{
  display: flex;
  flex-direction:column;
  position: absolute;
  top: 50px;
  margin-left: 10px;
  gap: 10px;
}


.searchedMovie{
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whiteopacity);
  padding: 20px;
}

.playIcon{
  cursor: hover;
}

.searchImage{
  width: 150px;
  height: 100px;
  object-fit: contain;
  object-position: center;
}










@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}